# django
**/venv

# since we want to show images present in the client folder, we specifically gitignore images in server folder only
**/server/media

**/__pycache__

.env

# react items
**/node_modules

**/.eslintcache


# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts